@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "./Components/css/Navbar.css";
@import "./Components/css/LoginPage.css";
@import "./Components/css/LoginModal.css";
@import "./Components/css/Dashboard.css";
@import "./Components/css/Profile.css";
@import "./Components/css/Settings.css";
@import "./Components/css/Enroll.css";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  border: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.test,
.settings,
.profile {
  height: 100vh;

  background: url("./Components/assets/PLM-bg.png");
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  /* font-size: 3rem; */
  /* flex-direction: column; */
}
