.enroll-title,
.profile-title {
  font-weight: bold;
  font-family: rubik;
}

.btn-danger {
  margin-bottom: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.li-availableCourses {
  padding: 5px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
}

.li-availableCourses > div:last-child {
  margin-left: auto;
  margin-right: 70px;
}

.student-count {
  margin-right: 10px;
}
