.profile {
  display: flex;
  height: 120vh !important;
  align-items: start !important;
  justify-content: center !important;
  font-size: 3rem;
  flex-direction: column;
}

.student-info {
  font-family: rubik;
  font-size: 2rem;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.363);
  font-weight: lighter;
}

.student-info > span {
  font-weight: bold;
  margin-right: 10px;
}

.edit-button {
  background-color: #d5a106;
  border: none;
  color: white;
  padding-top: 6px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block !important;
  margin-left: 10px !important;
  font-size: 16px !important;
  font-family: Raleway;
}
